In [ ]:
# Name: Rupsa Karak  PRN: 25070123098

In [ ]:
# Experiment 4
# Aim: Study of Set in Python

In [ ]:
set1 = {"apple", "banana" , "cherry"}
print(set1)

{'cherry', 'apple', 'banana'}

In [ ]:
set2 = {2, 2.5, True, "Rupsa"}
print(set2)

{True, 2, 2.5, 'Rupsa'}

In [ ]:
set3 = {"apple",2, True, 1,"apple"}    #set removes duplicate words/nos
print(set3)

{True, 2, 'apple'}

In [ ]:
set4 = {"apple", "banana", "cherry"}
set4.add("kiwi")
print(set4)

{'cherry', 'apple', 'banana', 'kiwi'}

In [ ]:
set5 = {"apple", "banana", "cherry"}
set5.remove("banana")
print(set5)

{'cherry', 'apple'}

In [ ]:
set6 = {1,2,3,4}
set7 = {3,4,5,6}
print("union:" ,set6|set7)
print("intersection:", set6&set7)
print("difference:", set6-set7)
print("difference:", set7-set6)
print("disimilar:", set6^set7)

union: {1, 2, 3, 4, 5, 6}
intersection: {3, 4}
difference: {1, 2}
difference: {5, 6}
disimilar: {1, 2, 5, 6}

In [ ]:
set8 = frozenset({"apple", "banana", "orange"})
print(set8)
print(type(set8))

frozenset({'orange', 'apple', 'banana'})
<class 'frozenset'>

In [ ]:
#question1
listofstudents= ["Rupsa", "Ronit", "Dhruv", "Soham","Maahi", "Soham","Sijisha","Soham","Rishabh", "Soham"]
uniquelistofstudents=__builtins__.set(listofstudents)
print("Students:",uniquelistofstudents)

Students: {'Dhruv', 'Rishabh', 'Maahi', 'Sijisha', 'Ronit', 'Rupsa', 'Soham'}

In [ ]:
#question2
set1 = {"maths","physics","python", "chemistry"}
set2 = {"biology","python","calculus", "english"}
set3 = {"maths","french","python", "chemistry"}
print("Comman Subject amongst students:", set1&set2&set3)

Comman Subject amongst students: {'python'}

In [2]:
#question3
Cricketteam = {"Amit", "Rahul", "Sneha"}
Footballteam = {"Amit", "Rupsa", "Soham","Riya"}
print("Both teams:", Cricketteam&Footballteam)
print("Only one club:", Cricketteam^Footballteam)
print("Only cricket", Cricketteam - Footballteam)
print("Only football", Footballteam- Cricketteam)

Both teams: {'Amit'}
Only one club: {'Riya', 'Soham', 'Sneha', 'Rahul', 'Rupsa'}
Only cricket {'Rahul', 'Sneha'}
Only football {'Riya', 'Rupsa', 'Soham'}

In [4]:
#question4
student = {"Rupsa", "Ronit", "Dhruv", "Soham","Maahi", "Apoorba","Sijisha","Riya"}
presentstudents = {"Rupsa", "Ronit", "Dhruv", "Soham" }
absentstudents = student - presentstudents
print("Absent Student:", absentstudents)

Absent Student: {'Riya', 'Maahi', 'Sijisha', 'Apoorba'}

In [8]:
#question5
coursecodes = {739489, 82748,29479, 294776}
coursecodes.discard(739489)
print("Updates courses:", coursecodes)

Updates courses: {294776, 82748, 29479}